<h2>Callbacks</h2>


 <p> So here is the official definition from the mozzilla.org MDN web docs. <i><b> "A callback function is a function passed into another function as an argument, which is then invoked inside the outer function to complete some kind of routine or action."</b></i></p> 


 <p> I bet that really cleared things up for you.</p>

 <p> A callback is just a function that waits for something else to happen before it executes. If it executes at the same time as the the function that called it is a synchronous callback , it it waits for the orignal function to finish doing what it needs to do and then it starts , it is an asynchronous callback. A good use case for an asynchronous callback is a program the collects data from an API. The data should be "read" before you do anything with it.  </p>