<h2>JavaScript Promises</h2>


<p> As promises in real life are either kept or broken, JavaScript Promises get either resolved or rejected.<br>The promise constructor takes one argument—a callback with two parameters: resolve and reject.<br> Do something within the callback, perhaps async, then call resolve if everything worked, or otherwise call reject.</p>


Promises have three states:
<ol >
        <li>Pending: The task relating to the promise hasn't fulfilled or rejected yet.</li>
        <li>Fulfilled: The task relating to the promise succeeded.</li>
        <li>Rejected: The task relating to the promise failed.</li>

</ol>
<p> These states represent the eventual completion (or failure) of an asynchronous operation, and its resulting value.<br> The function that created the promise can keep track of the promise state.</p>